    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("English", "Index", "Language", new {language = "en" },null)</li>
        <li>@Html.ActionLink("Ελληνικά", "Index", "Language", new { language = "el" }, null)</li>
    </ul>
